www
bk
home-assistant.log
home-assistant_v2.db
deps
tts
secrets.yaml
plex.conf
.uuid
.spotify-token-cache
.google.token
.HA_VERSION
typescript
custom_components
**/salida
**/dropbox
known_devices.yaml
google_calendars.yaml